.container {
  max-width: 1240px;
  margin-inline: auto;
  padding: 0 2rem;
}

.form-radio {
  padding: 1rem 0;
}

.form-radio > *:last-child {
  margin-left: 1rem;
}

.preloader-block,
.not-found {
  min-height: 50vh;
  display: grid;
  place-items: center;
}
